In [1]:
from sqlalchemy import create_engine
import pandas as pd 
import numpy as np
mysql_setting = {
    'host' : "10.10.10.4",
    'dbname': "spider",
    'user': "root",
    'password': "qwerasdf"
}

def getDatabaseConn():
    engine = create_engine('mysql://{user}:{password}@{host}:3306/{dbname}'.format(**mysql_setting), echo=False)
    conn = engine.connect()
    return conn
conn = getDatabaseConn()

/Users/monstar/Envs/py3env/lib/python3.6/site-packages/sqlalchemy/dialects/mysql/base.py:1569: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  cursor.execute('SELECT @@tx_isolation')

In [2]:
sql_lagou = """
    select * from lagou_recruit_day
"""
lagou_df = pd.read_sql(sql_lagou, conn)

In [12]:
lagou_df = lagou_df[~lagou_df['department'].isnull()]
def salarySplit(line):
    import re
    res = re.match(r'([\d]+)K-([\d]+)K', line)
    if not res:
        res = re.match(r'([\d]+)k-([\d]+)k', line)
    if res:
        salary_low = res[1]
        salary_high = res[2]
        salary_mean = (int(salary_low) + int(salary_high)) / 2
    else:
        res = re.match(r'([\d]+).*', line)
        salary_low = res[1]
        salary_high = res[1]
        salary_mean = res[1]
    return pd.Series([salary_low, salary_high, salary_mean])
tmp_lagou = lagou_df['salary'].apply(salarySplit).rename(columns={0:'salary_low', 1:'salary_high', 2:'salary_mean'})
lagou_df = lagou_df.combine_first(tmp_lagou)

In [19]:
lagou_df[(lagou_df.department.str.contains('百度'))].pivot_table(index=['city'])

,company_id,created_at,id,position_id,publisher_id,salary_high,salary_low,salary_mean
city,,,,,,,,
上海,6980.731707,1.509658e+09,87130.609756,3.504619e+06,6.269237e+06,33.000000,17.951220,25.475610
东莞,104640.000000,1.506510e+09,15306.333333,3.483087e+06,6.667484e+06,12.333333,6.666667,9.500000
乌鲁木齐,170061.000000,1.509470e+09,117290.600000,3.755353e+06,9.143222e+06,5.800000,4.400000,5.100000
北京,36334.020101,1.508760e+09,82911.185930,3.504910e+06,5.199573e+06,29.879397,17.527638,23.703518
南京,129140.454545,1.506605e+09,66817.545455,3.148984e+06,6.596909e+06,10.636364,5.818182,8.227273
南昌,318.000000,1.506493e+09,3750.000000,1.396726e+06,6.482130e+05,7.000000,4.333333,5.666667
厦门,1575.000000,1.506666e+09,92173.000000,3.578036e+06,7.718900e+04,30.000000,15.000000,22.500000
合肥,34920.000000,1.506994e+09,74942.500000,2.396592e+06,5.630083e+06,8.000000,4.000000,6.000000
大连,197974.000000,1.508263e+09,49726.500000,3.240659e+06,7.820409e+06,6.000000,3.750000,4.875000
太原,303556.000000,1.513948e+09,141977.000000,3.969638e+06,9.561292e+06,5.000000,3.000000,4.000000
威海,240386.875000,1.506441e+09,1513.625000,3.562868e+06,8.620514e+06,5.375000,2.750000,4.062500
宁波,1575.000000,1.506528e+09,7856.000000,3.600560e+06,7.718900e+04,30.000000,15.000000,22.500000
常州,25908.000000,1.512994e+09,138456.500000,3.893862e+06,5.867922e+06,10.000000,6.250000,8.125000
广州,96551.785714,1.509392e+09,67303.857143,3.209442e+06,5.626778e+06,11.714286,6.571429,9.142857
延边,225574.000000,1.506440e+09,437.500000,3.415188e+06,8.398417e+06,9.750000,5.000000,7.375000
惠州,123682.000000,1.506664e+09,90566.000000,3.102301e+06,7.920326e+06,10.000000,5.000000,7.500000
成都,119926.230769,1.507840e+09,68008.769231,3.178222e+06,4.522661e+06,13.384615,8.769231,11.076923
无锡,69899.000000,1.509178e+09,115750.500000,7.554810e+05,1.692564e+06,8.500000,5.500000,7.000000
杭州,98460.000000,1.514873e+09,146161.000000,3.998193e+06,2.670627e+06,10.000000,8.000000,9.000000
武汉,63953.666667,1.506605e+09,65160.555556,3.541586e+06,4.700238e+06,5.888889,3.777778,4.833333
沈阳,103368.000000,1.507793e+09,42431.333333,2.921316e+06,2.332076e+06,8.666667,4.333333,6.500000
泸州,104601.000000,1.506446e+09,4339.000000,3.445439e+06,3.187190e+06,8.000000,4.000000,6.000000
济南,89475.000000,1.506753e+09,45231.000000,3.208673e+06,4.118881e+06,9.888889,5.111111,7.500000
淮北,88382.000000,1.506448e+09,5661.500000,3.524598e+06,8.758448e+06,7.000000,3.750000,5.375000
深圳,13569.916667,1.509176e+09,85712.916667,3.517882e+06,5.705875e+06,28.333333,15.916667,22.125000
潍坊,36464.000000,1.506834e+09,23535.400000,1.723346e+06,6.389450e+05,14.200000,9.200000,11.700000
珠海,121322.000000,1.506529e+09,41712.000000,3.652884e+06,4.628705e+06,10.000000,6.000000,8.000000
福州,51587.125000,1.508641e+09,76406.000000,3.400261e+06,5.755458e+06,12.000000,6.812500,9.406250
肇庆,243631.000000,1.506440e+09,236.000000,3.632608e+06,8.779382e+06,7.000000,4.000000,5.500000
苏州,67941.000000,1.506526e+09,39689.000000,3.603537e+06,8.905947e+06,12.000000,6.000000,9.000000
茂名,248575.000000,1.506444e+09,3594.000000,3.645536e+06,8.734409e+06,5.000000,3.000000,4.000000
西安,127199.666667,1.509426e+09,75440.000000,3.480194e+06,8.210892e+06,7.222222,4.555556,5.888889
郑州,180883.250000,1.510269e+09,106032.750000,3.584535e+06,5.970062e+06,15.000000,8.000000,11.500000
重庆,31854.000000,1.508917e+09,71760.666667,2.512723e+06,4.742730e+05,5.555556,3.000000,4.277778
长春,1575.000000,1.506665e+09,90746.000000,3.586083e+06,7.718900e+04,50.000000,25.000000,37.500000
长沙,61492.000000,1.506670e+09,97108.000000,3.425643e+06,3.520579e+06,8.500000,5.500000,7.000000
青岛,96515.500000,1.506961e+09,70088.000000,3.644660e+06,7.690218e+06,6.500000,3.500000,5.000000

In [24]:
lagou_df[(lagou_df.department.str.contains('阿里')) & (lagou_df.city == '成都')]

,city,company_id,content,created_at,department,district,education,first_type,id,job_nature,...,position_name,publish_time,publisher_id,salary,salary_high,salary_low,salary_mean,second_type,url,work_year
47036,成都,83357,<div>\n <p>岗位描述:</p>\n<p>1、通过电话、工单等方式为阿...,1506592250,阿里云阿里云事业群-飞天六部-售后支持-GSS招聘,高新区,本科,运营/编辑/客服,62699,全职,...,阿里云-售后技术支持（成都）,2017-09-25 16:53:51,8900401,10k-20k,20.0,10.0,15.0,客服,https://www.lagou.com/jobs/3631505.html,1-3年

In [107]:
def timeFormat(line):
    return pd.Series([datetime.strptime(line, '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d')])
tencent_df = pd.DataFrame(lagou_df[(lagou_df.department.str.contains('腾讯')) & (lagou_df.city == '成都')].sort_values('publish_time'), columns=['position_name', 'salary_mean', 'department', 'publish_time', 'work_year', 'second_type'])
tencent_df = pd.concat([tencent_df, tencent_df.publish_time.apply(timeFormat)], axis=1).rename(columns={0:'date'})

# 腾讯17年9月-18年1月成都招聘情况

In [111]:
tencent_df.set_index('date').pivot_table(index='date', columns=['second_type', 'work_year']).fillna('--').rename(columns={'salary_mean':'平均薪资/K'}).to_excel('/Users/monstar/Desktop/tencent.xlsx')

In [68]:
df_zfb = lagou_df[(lagou_df.company_id.isin([80324,153849])) & (lagou_df.city == '成都')]
% matplotlib inline

In [96]:
from datetime import datetime
import seaborn as sbn
sbn.set()
df_zfb = pd.DataFrame(df_zfb, columns=['publish_time','position_name', 'salary_mean', 'second_type', 'department', 'work_year']).sort_values('publish_time')

tmp_zfb = df_zfb.publish_time.apply(timeFormat)
df_zfb = pd.concat([df_zfb, tmp_zfb], axis=1).rename(columns={0:'date'})
# df_zfb[['date', 'position_name', 'salary_mean', 'second_type', 'department', 'work_year']]

# 蚂蚁金服2017年9月-2018年1月招聘薪资情况

In [112]:
df_zfb[['date','salary_mean', 'second_type', 'department', 'work_year']].set_index('date').pivot_table(index='date', columns=['second_type', 'work_year']).fillna('--').rename(columns={'salary_mean':'平均薪资/K'}).to_excel('/Users/monstar/Desktop/zfb.xlsx')

In [117]:
df_zfb[['date', 'position_name','salary_mean', 'second_type', 'department', 'work_year']].set_index('date')

,position_name,salary_mean,second_type,department,work_year
date,,,,,
2017-09-25,蚂蚁金服-Java架构师-国际事业群,27.0,后端开发,蚂蚁金服集团国际事业群-国际数据招聘,3-5年
2017-09-25,蚂蚁金服-资深/高级算法专家-国际事业群,27.0,数据开发,蚂蚁金服集团国际事业群-国际数据招聘,3-5年
2017-09-26,Java高级开发工程师,23.0,后端开发,蚂蚁金服集团国际事业部-成都研发中心招聘,3-5年
2017-09-28,高级java工程师/架构师,25.0,软件开发,蚂蚁金服集团技术风险部招聘,不限
2017-09-28,高级数据＆算法工程师／专家,26.5,数据开发,蚂蚁金融服务集团(成都)支付宝事业群招聘,1-3年
2017-09-28,java 开发工程师,24.0,后端开发,蚂蚁金融服务集团(成都)支付宝营销技术部招聘,1-3年
2017-09-28,java 研发工程师,22.5,后端开发,蚂蚁金融服务集团(成都)支付宝营销技术部招聘,1-3年
2017-09-28,java 高级工程师,22.5,软件开发,蚂蚁金融服务集团(成都)支付宝营销技术部招聘,1-3年
2017-09-28,java 研发工程师,22.5,后端开发,蚂蚁金融服务集团(成都)支付宝营销技术部招聘,3-5年
2017-09-28,JAVA高级工程师／专家,26.5,软件开发,蚂蚁金融服务集团(成都)支付宝事业群招聘,1-3年
2017-09-28,高级测试工程师／专家,26.5,测试,蚂蚁金融服务集团(成都)支付宝事业群招聘,1-3年
2017-09-28,java 高级研发工程师,24.0,软件开发,蚂蚁金融服务集团(成都)支付宝营销技术部招聘,1-3年
2017-09-28,测试工程师,22.5,测试,蚂蚁金融服务集团(成都)支付宝营销技术部招聘,1-3年
2017-10-15,蚂蚁金服-Java技术专家-成都,37.5,后端开发,蚂蚁金服集团平台数据技术事业群-金融核心平台招聘,不限
2017-10-16,技术专家,37.5,后端开发,蚂蚁金服集团安全产品技术部招聘,3-5年
2017-11-03,蚂蚁金服-高级开发工程师-移动支付技术部-成都,22.5,后端开发,蚂蚁金服集团蚂蚁金服支付宝事业群招聘,3-5年
2017-11-04,蚂蚁金服-高级开发工程师-移动支付技术部-成都,30.0,数据开发,蚂蚁金服集团支付宝事业群-移动支付技术部招聘,1-3年
2017-11-06,数据研发专家/工程师(11.12成都专场),37.5,数据开发,蚂蚁金服集团成都研发中心招聘,3-5年
2017-11-06,高级研发工程师,26.5,后端开发,蚂蚁金服集团移动支付招聘,3-5年
2017-11-12,高级研发工程师/架构师（成都）,30.0,软件开发,蚂蚁金服集团蚂蚁金服-人工智能部招聘,3-5年
2017-11-13,蚂蚁金服-大数据专家/架构师,37.5,数据开发,蚂蚁金服集团成都研发中心招聘,5-10年
2017-12-02,蚂蚁金服-大数据高级工程师/技术专家-成都,22.5,数据开发,蚂蚁金服集团风控招聘,3-5年
2017-12-11,蚂蚁金服-数据技术专家-国际事业群,27.0,数据开发,蚂蚁金服集团国际事业群-国际数据招聘,3-5年
2017-12-29,java工程师,15.0,后端开发,蚂蚁金服集团安全产品技术部招聘,1-3年
2018-01-08,蚂蚁金服-大数据高级工程师/技术专家-成都,22.5,后端开发,蚂蚁金服集团蚂蚁金服-大安全招聘,1-3年
2018-01-12,高级 java 开发工程师（p6）,22.5,前端开发/移动开发,蚂蚁金服集团安全产品技术部招聘,3-5年
2018-01-17,JAVA研发工程师/资深工程师/专家,37.5,软件开发,蚂蚁金服集团资金运营技术部招聘,1-3年
2018-02-01,蚂蚁金服-高级java研发工程师/专家-成都,30.0,后端开发,蚂蚁金服集团技术风险部招聘,不限