In [1]:
from pymongo import MongoClient
RAW_MONGO_URL = "mongodb://qeeraw_onlyreadauser:37b908R11fee@dds-bp145a7c0d8825c42309-pub.mongodb.rds.aliyuncs.com:3717/qeeyou_raw?replicaSet=mgset-7272815"
mdbraw = MongoClient(RAW_MONGO_URL,connect=False).qeeyou_raw

In [20]:
from urllib.parse import quote
from pymongo import MongoClient
password = quote("QyNG%u5unF9@QuMq")
RAW_MONGO_URL = "mongodb://test:test@dds-bp10587fafbd17441137-pub.mongodb.rds.aliyuncs.com:3717/qeeyou_raw"
print(RAW_MONGO_URL)
mdbraw = MongoClient(RAW_MONGO_URL,connect=False).qeeyou_raw
mycol = mdbraw['ClientAdvertiseSnapShot']
mycol.count()

mongodb://test:test@dds-bp10587fafbd17441137-pub.mongodb.rds.aliyuncs.com:3717/qeeyou_raw

d:\env\py3env\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

25417741

In [6]:
from pymongo import MongoClient
mdbraw = MongoClient(
        host="dds-bp10587fafbd17441137-pub.mongodb.rds.aliyuncs.com",
        port=3717,
        username="root",
        password="QyNG%u5unF9@QuMq"
    ).qeeyou_raw

In [7]:
mycol = mdbraw['ClientAdvertiseSnapShot']

In [4]:
import pandas as pd
import numpy as np

In [9]:
res = mycol.distinct('member.member_name', {'time':
    {
        "$gte": 1562688000,
        "$lt":  1562774400
        },
        'app_type.code': 2,
        'adv_type': 2,
        'action': 1,
        'advertise.id': 65
    })
df = pd.DataFrame(list(res))

In [10]:
df_2 = df.rename(columns={0: 'member_name'})
df_2.head()

          member_name
0         18093744846
1         13589635253
2         15039332076
3   1823573937@qq.com
4  13057080019@qq.com

In [15]:
from sqlalchemy import create_engine
import pymysql
mysql_setting = {
    'host' : "192.168.66.30",
    'dbname': "quick_bi",
    'user': "root",
    'password': "poHx*aYwl%eN!R9&"
}
engine = create_engine('mysql+pymysql://{user}:{password}@{host}:3306/{dbname}'.format(**mysql_setting), echo=False)

In [18]:
sql= "select distinct member_name from bs_client_advertise where date_time > '2019-07-10' and date_time < '2019-07-11' and app_code = 2 and action = 1 and adv_type = 2 and adv_id = 65"
df_m = pd.read_sql(sql, engine)
df_m.head()

          member_name
0         18093744846
1         13589635253
2         15039332076
3   1823573937@qq.com
4  13057080019@qq.com

In [2]:
mycol = mdbraw['AppMonitorDataSnapShot']

In [3]:
res = mycol.find({
    "time": {
        "$gte": 1564588800,
        "$lt": 1567699200
        },
        "monitor_type": 2,
        "accelerate_info.action": 2,
        "accelerate_info.status": {
            "$in": [1,2,3,4]
            }
    })

In [5]:
df_res = pd.DataFrame(list(res))

In [20]:
df_res_deal = df_res.dropna()

In [22]:
import json

In [ ]:
def getJson(acct):
    return pd.Series(json.dumps(acct))

In [26]:
df_res.to_csv("D:/workspace/res.csv",encoding="utf_8_sig")